body {
  margin: 0px;
  padding: 0px;
  background: radial-gradient(#3a3ab7, transparent);
  display: grid;
}
#Header-Section {
  display: flex;
  position: absolute;
  background: transparent;
  width: 100%;
}
.logo {
  margin: 18px;
  display: flex;
  height: 64px;
  width: 64px;
  background: transparent;
}
.logo img {
  filter: invert(1);
}
nav {
  display: block;
  margin: 40px;
}
#Home {
  padding: 2px;
  width: 5%;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  left: 116px;
  color: white;
}
#About {
  padding: 2px;
  width: 5%;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  left: 250px;
  color: white;
}
#Product {
  padding: 2px;
  width: 5%;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  left: 384px;
  color: white;
}
#Contact {
  padding: 2px;
  width: 5%;
  height: 25px;
  background: transparent;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  position: relative;
  left: 518px;
  color: white;
}
#Hero-Section {
  display: flex;
/*   background: url(https://i.makeagif.com/media/5-02-2020/9JK1sD.gif); */
  background-size: cover;
  height: 654px;
  text-align: center;
  justify-content: center;
  color: white;
}
p {
  font-size: 13.5px;
  font-family: sans-serif;
  margin-top: 50px;
}
#Product-Section {
  display: flex;
  width: 41.2%;
  height: 100%;
  margin-top: 2%;
  position: relative;
  left: 4%;
}
#Product-Header2 {
  display: flex;
  width: 41.2%;
  height: 100%;
  margin-top: 4%;
  position: relative;
  left: 4%;
}
.card1 {
  display: block;
  margin: 0px 25px;
}
.card2 {
  display: block;
  margin: 0px 25px;
}
.card2 img {
  height: 164px;
  width: 300px;
}
.card3 {
  display: block;
  margin: 0px 25px;
}
.card3 img {
  height: 164px;
  width: 300px;
}
.card4 {
  display: block;
  margin: 0px 25px;
}
.card4 img {
  height: 164px;
  width: 300px;
}
.card5 {
  display: block;
  margin: 0px 25px;
}
.card6 {
  display: block;
  margin: 0px 25px;
}
.card6 img {
  height: 164px;
  width: 300px;
}
.card7 {
  display: block;
  margin: 0px 25px;
}
.card7 img {
  height: 164px;
  width: 300px;
}
.card8 {
  display: block;
  margin: 0px 25px;
}

.card8 img {
  width: 300px;

  height: 164px;
}
#Footer-Section {
  position: relative;
  top: 15px;
  text-align: center;
}
#Product-Header3 {
  display: flex;
  width: 41.2%;
  height: 100%;
  margin-top: 4%;
  position: relative;
  left: 4%;
}
.card9 {
  display: block;
  margin: 0px 25px;
}
.card9 img {
  width: 300px;
}
.card10 {
  display: block;
  margin: 0px 25px;
}
.card10 img {
  width: 300px;

  height: 158px;
}
.card11 {
  display: block;
  margin: 0px 25px;
}
.card11 img {
  width: 300px;

  height: 158px;
}
.card12 {
  display: block;
  margin: 0px 25px;
}
.card12 img {
  width: 300px;

  height: 159px;
}
